# Compilação
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Configurações do Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.cache
*.sln.ide
*.csproj.user

# Dependências do .NET
*.nuget/
packages/
.nuget/

# Logs, Dumps e Arquivos Temporários
*.log
*.nlog
*.out
*.pid
*.seed
*.swp
*.temp
*.tmp
*.bak

# Chaves e Certificados
*.pfx
*.p12

# Configurações do Banco de Dados e Migrations do EF Core
Migrations/
app.db
appsettings.local.json

# Arquivos de Publicação e Deployment
publish/
wwwroot/
node_modules/

# Arquivos gerados pelo Rider (JetBrains)
.idea/
*.iml

# Docker
docker-compose.override.yml
.env

# Arquivos de Testes e Cobertura de Código
TestResults/
coverage/
*.trx
*.coverage
.coveragexml
